/* ==========================================================================
   Accueil (index)
   ========================================================================== */
.accueil {
    overflow-y: hidden;
    position: relative;
    height: calc(100vh - 68px);

    .avant_plan {
        position: absolute;
        bottom: 0;
        left: 1%;
        width: 50vw;
        z-index: -1;
    }
    .hero {
        position: absolute;
        left: 40%;
        top: 30%;
    }
    p {
        margin: 0 0 0 85px;
        font-size: 2rem;
        line-height: 116%;
    }
    .box {
        position: relative;
        height: 160px;
        &:hover {
            .circle {
                transition: transform 1s ease-in-out;
                background: linear-gradient(
                    90deg,
                    rgba(204, 150, 22, 1) 0%,
                    rgba(235, 235, 169, 1) 30%,
                    rgba(204, 150, 22, 1) 100%
                );
            }
        }
    }
    .call_action {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        color: var(--color-white);
        margin: 65px 200px;
        padding: 2px 30px;
        border: 2px solid var(--color-secondary);
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        background: var(--color-primary);

        /* -webkit-transition-property: color;
        transition-property: color; */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);

        font-family: var(--font-primary);
        font-size: var(--font-size-button);
        font-weight: 700;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: var(--color-white);
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover {
            -webkit-text-fill-color: var(--color-secondary);
            border: 2px solid var(--color-white);
            &::before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
    .circle {
        position: absolute;
        top: 0;
        left: 60%;
        width: 130px;
        height: 170px;

        border: 3px solid transparent;
        border-radius: 50%;
        background: linear-gradient(
            90deg,
            rgba(224, 170, 62, 1) 0%,
            rgba(255, 255, 189, 1) 30%,
            rgba(224, 170, 62, 1) 100%
        );

        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        animation: 0.8s linear infinite alternate big,
            1.5s ease-in-out infinite turnBorder;

        /* ====================   Animation   ==================== */
        @keyframes big {
            from {
                width: 130px;
                height: 170px;
            }
            to {
                width: 145px;
                height: 155px;
            }
        }

        @keyframes turnBorder {
            from {
                -webkit-transition: -webkit-transform 1s;
                -moz-transition: -moz-transform 1s;
                transition: transform 1s;
            }
            to {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }

    /* ==========================================================================
    Responsive
    ========================================================================== */

    @media screen and (max-width: 1245px) {
        h1 {
            font-size: 3rem;
        }
        .call_action {
            margin: 35px 100px;
            font-size: 1.5rem;
        }
        .avant_plan {
            width: 60vw;
        }
        .circle {
            border: 2px solid transparent;
            /* ====================   Animation   ==================== */
            @keyframes big {
                from {
                    width: 100px;
                    height: 140px;
                }
                to {
                    width: 85px;
                    height: 125px;
                }
            }
        }
    }

    @media screen and (max-width: 950px) {
        h1 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.5rem;
        }
        .call_action {
            margin: 30px 50px;
            font-size: 1.25rem;
        }
        .circle {
            left: 50%;
        }
        .avant_plan {
            width: 70vw;
        }
    }

    @media screen and (max-width: 775px) {
        .hero {
            left: 20%;
        }
    }

    @media screen and (max-width: 560px) {
        .circle {
            left: 60%;
        }
        .avant_plan {
            height: 50vh;
            width: auto;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 427px) {
        .hero {
            left: 12%;
        }
        .call_action {
            margin: 30px 20px;
            font-size: 1.25rem;
        }
    }
}
