.accueil {
    height: 90vh;
    .hero {
        position: relative;
        position: absolute;
        left: 40%;
        top: 30%;
    }
    h1 {
        font-size: 72px;
    }
    p {
        margin: 0 0 0 85px;
        font-size: 2rem;
        line-height: 116%;
    }
    .call_action {
        display: inline-block;
        color: var(--color-white);
        margin: 65px 200px;
        padding: 2px 30px;
        border: 2px solid var(--color-secondary);
        background-color: var(--color-primary);
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

        font-family: var(--font-primary);
        font-size: var(--font-size-button);
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            background: var(--color-secondary);
            -webkit-background-clip: inherit;
            -webkit-text-fill-color: var(--color-white);
        }
    }
    .avant_plan {
        position: absolute;
        bottom: 0;
        right: 28%;
    }
}
