/* ==========================================================================
   À propos
   ========================================================================== */

.propos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hero {
        margin: 150px 0 260px 150px;
        display: flex;
        align-items: center;
        img {
            width: 350px;
            height: auto;
            border: 10px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(
                135deg,
                rgba(221, 212, 205, 1) 0%,
                rgba(250, 250, 250, 1) 100%
            );
            outline: 1px solid var(--color-primary);
            outline-offset: -10px;
        }
        .hero_content {
            margin-left: 90px;
            h1 {
                font-size: 5rem;
            }
            p {
                margin-left: 65px;
                max-width: 765px;
                span {
                    font-weight: 400;
                }
            }
            a {
                margin-left: 65px;
            }
        }
        a {
            display: inline-block;
            color: var(--color-white);
            margin-top: 14px;
            padding: 2px 30px;
            border: 2px solid var(--color-secondary);
            background-color: var(--color-primary);
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

            font-family: var(--font-primary);
            font-size: var(--font-size-button);
            font-weight: 700;
            text-transform: uppercase;

            &:hover {
                background: var(--color-secondary);
                -webkit-background-clip: inherit;
                -webkit-text-fill-color: var(--color-white);
            }
        }
    }

    .qualities {
        margin-bottom: 150px;
        .qualities_container {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
            article {
                background: linear-gradient(
                    135deg,
                    rgba(221, 212, 205, 1) 0%,
                    rgba(250, 250, 250, 1) 100%
                );
                max-width: 400px;
                padding: 50px 50px;
                outline: 1px solid var(--color-primary);
                outline-offset: -10px;
                text-align: center;
                color: var(--color-tertiary);
                line-height: 1.16em;
                p {
                    margin: 30px 0 0 0;
                }
            }
        }
    }

    section:not(:first-child) {
        margin-bottom: 150px;
        div {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
        }
    }

    /* .video {
        video {
            width: 350px;
            height: auto;
            border: 10px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(
                135deg,
                rgba(221, 212, 205, 1) 0%,
                rgba(250, 250, 250, 1) 100%
            );
        }
    }*/

    .vine1 {
        position: absolute;
        top: 360px;
        left: 595px;
        z-index: -1;
    }

    .vine2 {
        position: absolute;
        top: 540px;
        left: -15px;
        z-index: -1;
    }

    .plante5 {
        position: absolute;
        top: 1600px;
        left: 0;
        z-index: -1;
    }

    .plante6 {
        position: absolute;
        top: 2000px;
        right: 0;
    }
}
