/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    font-weight: 200;
    color: var(--color-white);
    line-height: 1.6;
    background: url('../assets/bg.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center;

    back p {
        margin: 0;
    }

    @media screen and (max-width: $breakpoint-xs) {
        background: url('../assets/bg-xs.jpg') no-repeat fixed;
    }
}
