{% include '_partials/_header.html' with { title: 'Mes projets' } %}

<section>
    <h1>Mes projets</h1>
    <article>
        <div class="acticle_contenu">
            <h2>Cinetim</h2>
            <p>Programmation d’interactivité d’un site web</p>
            <a class="project_link" href="#">Voir le projet</a>
        </div>
    </article>
    <article>
        <div class="acticle_contenu">
            <h2>Motion Design</h2>
            <p>Conception d’un site web</p>
            <a class="project_link" href="#">Voir le projet</a>
        </div>
    </article>
    <article>
        <div class="acticle_contenu">
            <h2>Recette en pot</h2>
            <p>Refonte d’un site web</p>
            <a class="project_link" href="#">Voir le projet</a>
        </div>
    </article>
    <article>
        <div class="acticle_contenu">
            <h2>CryptoQC</h2>
            <p>Integration web d’un design</p>
            <a class="project_link" href="#">Voir le projet</a>
        </div>
    </article>
    <article>
        <div class="acticle_contenu">
            <h2></h2>
            <p></p>
            <a class="project_link" href="#">Voir le projet</a>
        </div>
    </article>
</section>

{% include '_partials/_footer.html' %}
