{% include '_partials/_header.html' %}

<div class="hero">
    <img src="" alt="Ma photo">
    <div class="hero_contenu">
        <h1>Carolane Dupont</h1>
        <p>Je suis intéressée par le développement web. Je fais un peu de Javascript, mais ma partie préféré est le HTML et le CSS. J’aime refaire le design de façon identique. Avec moi, il faut que ça arrive pile poil.</p>
        <a href="#">Me contacter</a>
    </div>
</div>

<section class="qualites">
    <h2>Qualités</h2>
    <article>
        <h3>Méticuleuse</h3>
        <p>Que ce soit dans mes projets ou ceux des autres, je sais lorsque quelque chose ne fonctionne pas et j’essaie toujours de le régler, même si ce n’est pas un gros problème.</p>
    </article>
    <article>
        <h3>Tenace</h3>
        <p>Tant que je n’ai pas atteint mon objectif, je m’y tiens et je m’arrange pour le finir.</p>
    </article>
    <article>
        <h3>Méthodique</h3>
        <p>Dans tout ce que je fais, je garde une structure. Même si je peux paraître désordonnée, je sais
            me retrouver.</p>
    </article>
</section>

<section class="logiciels">
    <article><img src="" alt="VSCode"></article>
    <article><img src="" alt="Figma"></article>
    <article><img src="" alt="Webstorm"></article>
    <article><img src="" alt="Github"></article>
</section>

<section class="langages">
    <article><img src="" alt="CSS"></article>
    <article><img src="" alt="HTML"></article>
    <article><img src="" alt="JavaScript"></article>
    <!-- ajouter -->
</section>

<section class="video">
    <h2>Présentation en vidéo</h2>
    <!-- video -->
</section>

{% include '_partials/_footer.html' %}