{% include '_partials/_header.html' with { title: 'Recettes en pot' } %}
<div class="single_recettes">
    <div class="wrapper">
        <img class="plante plante8" src="assets/plantes/plante8.png" alt="plante" />
        <img class="plante vine3" src="assets/plantes/vine3.png" alt="plante" />
        <img class="plante plante6" src="assets/plantes/plante6.png" alt="plante" />
        <img class="plante plante5" src="assets/plantes/plante5.png" alt="plante" />
        <h1>Recettes en pot</h1>
        <section class="single_hero">
            <article>
                <img class="mockup" src="assets/recettes/mockup_recette.png" alt="Sur écran" />
                <img class="mockup2" src="assets/recettes/recette_accueil.jpg" alt="accueil" />
                <img class="mockup3" src="assets/recettes/recette_campagne.jpg" alt="campagne" />
                <p>
                    Design et intégration web d’un site déjà existant. Le site contient les composantes du scrolly, d’un
                    carrousel, d’une fenêtre modale et d’un formulaire. J’ai réalisé le design du site web sur le
                    logiciel Figma, pour ensuite le convertir en HTML et CSS à l’aide de VSCode.
                </p>
            </article>
            <div class="screenshot">
                <div class="structure">
                    <h2>Structure de dossiers</h2>
                    <img src="assets/recettes/structure.jpg" alt="structure de dossier" />
                </div>
                <div class="css">
                    <h2>CSS</h2>
                    <img src="assets/recettes/css.jpg" alt="css" />
                </div>
                <div class="html">
                    <h2>HTML</h2>
                    <img src="assets/recettes/html.jpg" alt="html" />
                </div>
            </div>
        </section>
    </div>
</div>
{% include '_partials/_footer.html' %}
